body {
  --clr-base1: #ffa946;
  --clr-base2: #ff9b46;
  --clr-base3: #ff8b46;
  --clr-paint1: #ffffff;
  --clr-paint2: #f5cd9e;
  --clr-paint3: hsl(32, 70%, 52%);
  --clr-paint4: hsl(34, 75%, 25%);
  --clr-paint5: #271b0c;
  --text-shadow: 1px 2px var(--clr-paint1);
  
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: center;
  line-height: 1.5;
  color: var(--clr-paint4);
  font-size: 18px;
  user-select:none;
}
h3 {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: center;
  margin-left: auto;
  text-transform: uppercase;
  background-color: var(--clr-paint2);
}
select,
input {
  width: 50%;
  min-width: 100px;
  background-color: var(--clr-paint2);
}
.panel {
  padding: 1vw;
  display: grid;
  opacity: 0.8;
}
.leftColumn {
  grid-column: 2;
}
.rightColumn {
  grid-column: 3;
}
.leftColumn,
.rightColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}
